<?xml version='1.0' encoding='utf-8'?>
<widget id="com.quaint.woodpuzzle" version="1.6.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Wood Puzzle</name>
    <description>
        Simple Wood Puzzle
    </description>
    <author email="">
        Quaint
    </author>
    <icon src="icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="orienation" value="portrait" />
        <preference name="Fullscreen" value="true" />
        <preference name="StatusBarOverlaysWebView" value="true" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-admobpro" spec="^2.37.2">
        <variable name="PLAY_SERVICES_VERSION" value="16.0.0" />
    </plugin>
    <plugin name="cordova-plugin-market" spec="https://github.com/xmartlabs/cordova-plugin-market" />
    <plugin name="cordova-plugin-x-socialsharing" spec="^5.4.4">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="24.1.1+" />
    </plugin>
    <feature name="SocialSharing">
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>
    <engine name="android" spec="^7.1.4" />
</widget>
