/* LOADING SCREEN */

#loadingScreen #logo {
    margin-top: 50%;
    margin-bottom: 50%;
}

/* START SCREEN */
#play {
    background-image: url("img/play.png");
    left: calc(50% - 40% / 2);
    top: 40%;
    width: 40%;
    height: calc(9 / 16 * 40%);
}

#share {
    background-image: url("img/share.png");
    left: calc(50%/3);
    bottom: calc(9 / 16 * 25%);
    width: 25%;
    height: calc(9 / 16 * 25%);
}

#rateus {
    background-image: url("img/star.png");
    right: calc(50%/3);
    bottom: calc(9 / 16 * 25%);
    width: 25%;
    height: calc(9 / 16 * 25%);
}

/* GAME SCREEN */
#gameScreen #canvas {
    background-color: transparent;
}

/* #gameScreen span {
    opacity: 0.8;
} */

#gameScreen #scoreBar {
    background-image: url("img/banner.png");
    background-size: 100% 100%;
    position: absolute;
    top: calc(100%/30*9/16);
    left: calc(100%/30);
    width: calc(100%*26/30*130/874*374/130);
    height: calc(100%*26/30*130/874*9/16);
    text-align: center;
}

#gameScreen #highscoreBar {
    background-image: url("img/banner.png");
    background-size: 100% 100%;
    position: absolute;
    top: calc(100%/30*9/16);
    left: calc(100%*26/30*130/874*374/130 + 100%/30*2);
    width: calc(100%*26/30*130/874*374/130);
    height: calc(100%*26/30*130/874*9/16);
    text-align: center;
}

#gameScreen #pause {
    background-image: url("img/pause.png");
    width: calc(100%*26/30*130/874);
    height: calc(100%*26/30*130/874*9/16);
    top: calc(100%/30*9/16);
    right: calc(100%/30);
}

/* PAUSE SCREEN */
/* #pauseScreen .icon {
    width: 25%;
    height: calc(9 / 16 * 25%);
    bottom: 45%;
}
#pauseScreen #home {
    background-image: url("img/home.png");
    left: calc(25%/4);
}
#pauseScreen #restart {
    background-image: url("img/restart.png");
    left: calc(25%/4 * 2 + 25%);
}
#pauseScreen #resume {
    background-image: url("img/resume.png");
    right: calc(25%/4);
} */

#pauseScreen .icon {
    width: 25%;
    height: calc(9 / 16 * 25%);
    left: calc(50% - 25%/2);
}
#pauseScreen #home {
    background-image: url("img/home.png");
    bottom: 50%;
}
#pauseScreen #restart {
    background-image: url("img/restart.png");
    bottom: 35%;
}
#pauseScreen #resume {
    background-image: url("img/resume.png");
    bottom: 20%;
}

/* LOST SCREEN */
#lostScore {
    background-image: url("img/banner.png");
    background-size: 100% 100%;
    position: absolute;
    top: 30%;
    left: 15%;
    width: 70%;
    height: calc(70%*9/16*130/374);
    text-align: center;
}

#lostScreen #home {
    background-image: url("img/home.png");
    left: calc(50%/3);
    bottom: 35%;
    width: 25%;
    height: calc(9 / 16 * 25%);
}

#lostScreen #restart {
    background-image: url("img/restart.png");
    right: calc(50%/3);
    bottom: 35%;
    width: 25%;
    height: calc(9 / 16 * 25%);
}