html,
body,
html.touch body {
    font-family: 'FontAwesome';
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: "Lucida Console", Times, serif;
    touch-action: none;
}

body {
    background-image: url("img/bg.jpg");
    background-size: 100%;
}

/* canvas {
    background-color: transparent;
} */

@font-face {
    font-family: 'FontAwesome';
    src: url('AveriaSansLibre-Regular.ttf');
    /* src: url('SansPosterBold.ttf'); */
}

/* SCREEN CLASS */
.screen {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* SCREENS */
#startScreen {
    display: none;
}

#gameScreen {
    display: none;
}

#pauseScreen {
    display: none;
}

#lostScreen {
    display: none;
    /* background-color: rgba(31, 31, 31, 0.6); */
}

/* ICONS AND BUTTONS */
.icon {
    position: absolute;
}

.icon img {
    width: 100%;
    height: 100%;
}

.button {
    position: absolute;
    width: 35%;
    height: calc(35%*9/16*44/128);
    bottom: 40%;
}

.button img {
    width: 100%;
    height: 100%;
}

/* OTHER */
#gameArea {
    position: absolute;
    left: 50%;
    top: 50%;
}

#darkBackground {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(31, 31, 31, 0.75);
}

span {
    font-family: 'FontAwesome';
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}